.center{
    display: flex;
    justify-content: center;
  margin: auto;
  margin-left: -80px; 
  }
  @media only screen and (max-width: 600px) {
    .center{
     display: flex;
     justify-content: center;
  margin: auto;
  padding-left: 60px;
    }
   }
  
   @media only screen and (max-width: 1000px) {
     .center{
      display: flex;
      justify-content: center;
   margin: auto;
   padding-left: 220px;
     }
    }
   
     
  
    @media screen and (max-width: 768px) {
     .center{
         display: flex;
         justify-content: center;
      margin: auto;
      padding-left: 90px;
     }
  }
     
  .top{
    margin: 0 auto;
  }
  .btn{
    float: right;
    
  }
  .home{
    background: border-box;
    background-color: #27566B;
    height: 40px;
    width: 100px;
  border-radius: 50px;
  color: white;
  font-size: 20px;
  border-color: #27566B ;
  cursor: pointer;
  border-style: none;
  transition: all 1s;
  transform: scale(1.1);
   outline: none;
  }
  .home:hover{
    background-color: #EB1600;
    transition: all 0.2s;
    transform: scale(1.1);
    border-color: #EB1600 ;
    outline: none;
  }
 
  .space3{
    height: 10px;
  } 
  
  
  .dropdown-toggle{
    margin: 6px;
    
    }
    
    
    
    #bootstrap-overrides{
    background-color: #27566B;
    border-style: none;
    outline: none;
    
    }
    #bootstrap-overrides:hover{
        background-color: #EB1600;
        border-color: #EB1600 ;
        outline: none;}
    .dropdown-item:hover{
        background-color:#EB1600 ;
        border-color: #EB1600 ;
        color: white;
      
    }
    .dropdown-item{
        color: white;
        background-color: #27566B;
     font-style: italic;
     font-weight: 600;
    }

.op{
    position: absolute;

    right: 50%;
   width: 30%;
   margin-right: -230px;
   text-align: center;
   background-color: #27566B;
   color: white;
}

.space4{
    height: 2px;
  }
  h2{
    text-align: center;
}
.s{
  background-color: #f1f1c1;
  box-shadow:rgba(0,0,0,0.8) 20px 10px 20px, inset rgba(0,0,0,0.15) 20px 20px 20px;
  height: 200px;

}
